.lists_basic{
    position: relative;
    height: 300px;
    margin-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
	.row{
		margin:0;
		[class*="col-"] {
		    padding:0;
		}
	}
	h1{
		margin-bottom:50px;
	}
	.spinner, .error{
		position:absolute;
		top:0;
		display:table;
		width:100%;
		height:100%;
	}
	.lists_basic_all{
		cursor:pointer;
		color:#bbb;
		text-decoration:underline;
	}
	.lists_basic_all:hover{
		opacity:.5 !important;
	}
}.lists_basic_ads{
	cursor:pointer;
	display:inline-block;
	width: 100%;
}.lists_basic_ads:hover{
	opacity:.5;
}