.subscription{
	[class*="row"],[class*="col-"] {
		padding:0;
		margin:0;
		padding-top:10px;
		padding-bottom:10px;
   	}
	text-align:left;
	color:#fff;
	h1{
		font-family: AlfaSlabOne;
		font-size: 50px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 1;
		letter-spacing: 2px;
		text-align: center;
		color: #ffffff;
	}
	.subscription_data{
		.subscription_data_rot{
			font-family: Avenir;
			font-size: 20px;
			font-weight: 900;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.5;
			letter-spacing: normal;
			color: #ffffff;
		}
		.subscription_data_value{
			font-family: Avenir;
			font-size: 24px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.25;
			letter-spacing: normal;
			color: #d0d0d0;
		}
		.subscription_data_type{
			font-family: Avenir;
			font-size: 20px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.5;
			letter-spacing: normal;
			color: #d0d0d0;
		  	.subscription_data_type_modify{
		  		text-align:right;
		  	}
		}
	}
	.subscription_list_rot{
		padding-top:10px;
		padding-bottom:20px;
		font-family: Avenir;
		font-size: 20px;
		font-weight: 900;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.5;
		letter-spacing: normal;
		color: #ffffff;
		border-bottom:1px solid #444;
	}
	.subscription_list{
		.subscription_list_tabs{
			font-family: Avenir;
			font-size: 20px;
			font-weight: 900;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.5;
			letter-spacing: normal;
			color: #ffffff;
			border-bottom:1px solid #444;
			>div:nth-child(6){
				text-align:right
			}
		}
		.subscription_list_item{
			>div:nth-child(6){
				text-align:right
			}
			font-family: Avenir;
			font-size: 16px;
			font-weight: normal;
			font-style: normal;
			font-stretch: normal;
			line-height: 1.5;
			letter-spacing: normal;
			color: #d0d0d0;
		}.subscription_list_item:last-child{
			padding-bottom:50px;
		}
	}
}