.ads{
    position: relative;
    min-height:300px;
	height:auto;
	div{
		width:100%;
		height:100%;
	}
	
	.spinner, .error{
		position:absolute;
		top:0;
		display:table;
		width:100%;
		height:100%;
	}
	img{
		width:100%;
	}
}.ads:hover{
		opacity:.5;
	}

@media screen and (max-width: 764px){
   .ads{
   		min-height:100px !important;
    	height:100px !important;
   }
}