.intro{
	width:50%;
	padding-right:20px;
	padding-left:20px;
	display: inline-block;
	input[type=password], input[type=text] {
	    height: 60px;
	    width: 100%;
  		border-radius: 4px;
  		background-color: #e3e3e3;
	    margin: 5px;
	    border: none;
	    padding: 22px!important;
	    font: inherit;
	    outline: inherit!important;
	}
	.aTerms{
		opacity: 0.8;
		/*font-family: Avenir;*/
		font-size: 14px;
		font-weight: normal;
		font-style: normal;
		font-stretch: normal;
		line-height: 2.5;
		letter-spacing: normal;
		color: #ffffff;
	}
}
@media screen and (max-width: 992px){
    .intro{
		width:100%;
	}
}