.list_item{
	display:block;
	/*background:#fff;
	padding:50px;*/
	border-bottom:1px dotted #444;
	color:#fff;
	text-align:left;
}
.list_block{
	padding-left:20px;
	text-align:left;
}
.list_block .list_item{
	margin-left:20px;
}