.search{
	float:right;
	margin-right: 10px;
	.pb{
		cursor:pointer;
		padding-top: 4px;
    	padding-left: 10px;
    	margin-right: 20px;
    	margin-top: 3px;
    	float:left;
		:hover{
			opacity:.5;
		}
		img{
			height:20px;
		}
	}
	.container{
		position:absolute;
		top:-75px;
		left:0;
		padding:0;
		width:100%;
		height:75px;
		background:#fff;
		color: #444;
		-webkit-transition: all .5s ease;
	    -moz-transition: all .5s ease;
	    transition: all .5s ease;

	    div{
			/*display:inline-block;*/
			line-height:75px;
			height:75px;
		}
	}.show{
	    	top:0;
	}	.logo{
			float:left;
			padding-left: 10px;
		    padding-right: 10px;
		    border-right: 1px solid #ddd;
		    width: 100px;
	}	.filters{
			float:left;
			padding-left: 10px;
		    padding-right: 10px;
		    border-right: 1px solid #ddd;
		    font-size:12px;
		    width: 100px;
	}	.text{
			float:left;
			width: calc(100% - 240px);
			input{
				width: 100%;
	   			-webkit-box-sizing: border-box; /* Safari, other WebKit */
	   			-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	   			box-sizing: border-box;         /* Opera/IE 8+ */
				border: 0;
    			height:40px;
    			margin:0;
    			padding:0 !important;
    			padding-left:10px !important;
			}[placeholder]{
			    text-overflow:ellipsis;
			}

	}	.close {
			cursor: pointer;
			width:40px;
			background: #000;
			color: #fff;
			float:right;
			opacity:1;
			:hover{
				opacity:.5 !important;
			}
	}
}
@media screen and (max-width: 764px){
	.search{
		.pb{
	    	/*margin-right: 0 !important;*/
	    }
	}
}
