$template-light-bg: #fff;
$template-light-color: #444;

$template-dark-bg: #000;
$template-dark-color: #fff;

.footer_web_dark{
	padding:10px;
    background: $template-dark-bg;
	color: $template-dark-color;
	text-align:center;
	font-size:20px;
}
