$template-light-bg: #fff;
$template-light-color: #444;

$template-dark-bg: #000;

$template-dark-color-0: #fff;
$template-dark-color-1: #aaa;
$template-dark-color-2: #666666;

$template-light-bg: #fff;
$template-light-color-0: #000;
$template-light-color-1: #444;
$template-light-color-2: #ddd;

$template-dark-color-border-purple: purple;

$template-size-0: 16px;
$template-size-1: 12px;
$template-size-2: 10px;

.header_web_dark{
    background: $template-dark-bg;
	font-size: $template-size-1;
	color: $template-dark-color-1;
}
.header_web_light{
    background: $template-light-bg;
	font-size: $template-size-1;
	color: $template-light-color-1;
}
.header_web{
	position: fixed;
    top: 0;
    left: 0;
    padding:10px;
    min-width: 480px;
    width:100%;
	text-align:center;
}
.header_web > div{
	cursor:pointer;
	display:inline-block;
	padding: 8px;
}
.header_web > div.option:hover{
	opacity:.5;
}
.header_web > a > div{
	cursor:pointer;
	display:inline-block;
	padding: 8px;
}
.header_web > a > div.option:hover{
	opacity:.5;
}
.header_web_dark  > a > div.option{
	color: $template-dark-color-1;
}
.header_web_light  > a > div.option{
	color: $template-light-color-1;
}
.header_web .left{
	float:left;
}
.header_web .right{
	float:right;
}