.podcast{
	.row{
		margin:0;
		padding:0;
		[class*=' col-']{
			margin:0;
			padding:0;
		}
	}
	.options{
		position: absolute;
    	top: 0;
    	right: 0;
    	background: rgba(0,0,0,.6);
    	border-radius: 10px;
    	margin: 10px;
		div{
			cursor:pointer;
			display:inline-block;
			padding: 4px;
			div{
				img{
					width:20px;
				}
			}
			;:hover{
				opacity:.5;
			}
		}
	}
	.ListSchemma{
		display:none;
		.show{
			position: absolute;
		    z-index: 20;
		    top: 0;
		    left: 0;
		    width: 100%;
		    height: 100%;
		    color: #444;
			display:inline-block;
		}
	}
}
